---
env: "%(env)s"
project_path: "/server/{{ application_name }}"

# Git settings.
setup_git_repo: yes
git_branch: %(git_branch)s


# Database settings.
db_user: "{{ application_name }}"
db_name: "{{ application_name }}"
db_password: %(db_password)s


# Gunicorn settings. For the number of workers, a good rule to follow is
# 2 x number of CPUs + 1
gunicorn_num_workers: %(num_gunicorn_workers)s
gunicorn_user: "{{ application_name }}"

# Setting this to 1 will restart the Gunicorn process each time
# you make a request, basically reloading the code. Very handy
# when developing. Set to 0 for unlimited requests (default).
gunicorn_max_requests: %(gunicorn_max_requests)s


# Nginx settings.
nginx_server_name: "{{ inventory_hostname }}"
ssl_src_dir: ssl_self_signed
ssl_dest_dir: /etc/ssl
ssl_key_password: password
ssl_enabled: %(ssl_enabled)s

# Application settings.
private_application_hosts: ['%(app_host_ip)s', ]

# Application settings.
django_settings_file: "%(settings_path)s"
django_secret_key: "%(secret_key)s"

run_django_db_migrations: yes
run_django_collectstatic: yes

bashrc_path: "/root/.bashrc"
